<br/>
<div>
  <div style="float:left">
    <h3><%=@daily_status.title%></h3>
  </div>
  <div style="float:right">
    <% if User.current.allowed_to?(:manage_daily_status, @project) %>
      <a href="#" accesskey="e" class="icon icon-edit" onclick="$('#daily_status_content_form').show();$('#daily_status_content_show').hide();">Update</a>
    <%end%>
  </div>
</div>

<br/><br/>
<div id="daily_status_content_show" class="wiki wiki-page">
  <%= textilizable @daily_status.content %>
</div>

<% if User.current.allowed_to?(:manage_daily_status, @project) %>
  <div id="daily_status_content_form" class="box" style="display:none">
    <%= form_for(@daily_status, :url => "/projects/#{@project.identifier}/daily_status", :html => { :method => :post}) do |f| %>
      <p>
        <span id="daily_status_content_and_toolbar">
          <textarea accesskey="e" class="wiki-edit" cols="60" id="daily_status_content" name="daily_status[content]" rows="10"><%= @daily_status.content %></textarea>
        </span>
      </p>
      <%= wikitoolbar_for 'daily_status_content' %>
      <input name="update" type="submit" value="Update"/>
      <input type="button" value="Cancel" onclick="$('#daily_status_content_form').hide();$('#daily_status_content_show').show();"/>
    <% end %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <br/>
  <ul>
    <li><a href="/projects/<%=@project.identifier%>/daily_status?days_ago=0">Today, <%=(Time.now).strftime('%b %-d')%></a></li>
    <li><a href="/projects/<%=@project.identifier%>/daily_status?days_ago=1">Yesterday, <%=(Time.now-1.day).strftime('%b %-d')%></a></li>
    <br/>
    <h4>History</h4>
    <% 3.upto(10) do |i| %>
      <li><a href="/projects/<%=@project.identifier%>/daily_status?days_ago=<%=i%>"><%= (Time.now-i.days).strftime('%b %-d') %></a></li>
    <%end%>
  </ul>
<% end %>

