<br/>
<div>
  <div style="float:left" id="daily_status_project_name_header">
    <h3>Project Status on <%=(@daily_status.created_at).strftime('%b %-d')%></h3>
  </div>
  <div style="float:right">
    <% if User.current.allowed_to?(:manage_daily_status, @project) %>
      <a href="#" accesskey="e" class="icon icon-add" onClick="$('#daily_status_content_form').show();$('#daily_status_content_show').hide();$('#daily_status_project_name_header').hide();">Add/Update Today's Status</a>
    <%end%>
  </div>
</div>

<br/><br/>
<div id="daily_status_content_show" class="wiki wiki-page">
  <%= textilizable @daily_status.content %>
</div>

<% if User.current.allowed_to?(:manage_daily_status, @project) %>
  <div id="daily_status_content_form" class="box" style='display:none;'>
    <%= form_for(@daily_status, :url => "/projects/#{@project.identifier}/daily_status", :html => { :method => :post}) do |f| %>
      <p>
        <span id="daily_status_content_and_toolbar">
          <textarea accesskey="e" class="wiki-edit" cols="60" id="daily_status_content" name="daily_status[content]" rows="10"></textarea>
        </span>
      </p>
      <%= wikitoolbar_for 'daily_status_content' %>
      <div style="padding-bottom:10px"><input type='checkbox' name="email" value=1 /> Send Email to Members</div>
      <input name="update" type="submit" value="Update"/>
      <input type="button" value="Cancel" onclick="$('#daily_status_content_form').hide();$('#daily_status_content_show').show();"/>
    <% end %>
</div>
<%end%>
<% content_for :sidebar do %>
  <br/>
  <h4>Current Week</h4>
<ul>
    <% today_date = Date.today
      week_beginning_date = today_date.at_beginning_of_week
      liblock = ""
      todayliblock = ""
      while (today_date - week_beginning_date).to_i  >= 0 do 
          days_ago = (today_date - week_beginning_date).to_i 
            if days_ago==0      
              todayliblock = '<li><a href="/projects/'+@project.identifier+'/daily_status?days_ago=0">Today</a></li>'          
            else
              liblock += '<li><a href="/projects/'+@project.identifier+'/daily_status?days_ago='+days_ago.to_s+'">'+week_beginning_date.strftime("%A")+'</a></li>'
            end  
          week_beginning_date = week_beginning_date+1 
      end 
    %> 
          <%= (todayliblock+liblock).html_safe %>
    
</ul>
    <br/>
    <h4>History</h4>
 <div id="datepicker"></div>
<% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag 'daily_status', :plugin => 'redmine_daily_status' %>
<% end %>
<script>
$(function() {
var todaysdate = new Date();
var qs = getQueryStrings();
    if(qs["days_ago"] != undefined)
      var days_ago = qs["days_ago"];
    else
      var days_ago = 0;

var SelectedDates = {};
var newselecteddate = getNewCalandarDate(todaysdate,days_ago);
    $( "#datepicker" ).datepicker({ maxDate: "0" , defaultDate: new Date(),  onSelect: function(dateText, inst) { 
          var dateAsString = dateText; //the first parameter of this function
          var selecteddate = $(this).datepicker( 'getDate' ); //the getDate method
          location.href = "/projects/<%=@project.identifier%>/daily_status?days_ago="+dateDiff(selecteddate , todaysdate)
       }
     });
  $( "#datepicker" ).datepicker( "option", "defaultDate", newselecteddate);
  $('#datepicker').datepicker('setDate', newselecteddate);
});
</script>